@import 'colors';

//templates
.gap {
  &-xs {gap: 4px;}
  &-sm {gap: 8px;}
  &-md {gap: 16px;}
  &-lg {gap: 24px;}
  &-xl {gap: 32px;}
  &-2xl {gap: 64px;}
}

//Margins
.m {
  &-xs{margin: 4px;}
  &-sm{margin: 8px;}
  &-md{margin: 16px;}
  &-lg{margin: 24px;}
  &-xl{margin: 32px;}
  &-2xl{margin: 64px;}
  &x {
    &-auto{margin: 0 auto;}
    &-xs{margin: 0 4px;}
    &-sm{margin: 0 8px;}
    &-md{margin: 0 16px;}
    &-lg{margin: 0 24px;}
    &-xl{margin: 0 32px;}
    &-2xl{margin: 0 64px;}
  };
  &y {
    &-auto{ margin: auto 0;}
    &-xs{ margin: 4px 0;}
    &-sm{ margin: 8px 0;}
    &-md{ margin: 16px 0;}
    &-lg{ margin: 24px 0;}
    &-xl{ margin: 32px 0;}
    &-2xl{ margin: 64px 0;}
  };
}

// Paddings
.p {
  &-xs{padding: 4px;}
  &-sm{padding: 8px;}
  &-md{padding: 16px;}
  &-lg{padding: 24px;}
  &-xl{padding: 32px;}
  &-2xl{padding: 64px;}
  &x {
    &-auto{padding: 0 auto;}
    &-xs{padding: 0 4px;}
    &-sm{padding: 0 8px;}
    &-md{padding: 0 16px;}
    &-lg{padding: 0 24px;}
    &-xl{padding: 0 32px;}
    &-2xl{padding: 0 64px;}
  };
  &y {
    &-auto{ padding: auto 0;}
    &-xs{ padding: 4px 0;}
    &-sm{ padding: 8px 0;}
    &-md{ padding: 16px 0;}
    &-lg{ padding: 24px 0;}
    &-xl{ padding: 32px 0;}
    &-2xl{ padding: 64px 0;}
  };
}

.grid {
  display: grid;
  &-center {
    @extend .grid;
    place-content: center;
  }
}

.flex {
  &-start {
    display: flex;
    &-left{ @extend .flex-start; align-items: flex-start;  justify-content: center; }
    &-top{ @extend .flex-start;  align-items: center;  justify-content: flex-start; }
    &-right{ @extend .flex-start; align-items: flex-end;  justify-content: center; }
    &-bottom{ @extend .flex-start;  align-items: center;  justify-content: flex-end; }
    &-top-left{ @extend .flex-start;  align-items: flex-start;  justify-content: flex-start; }
    &-top-right{ @extend .flex-start;  align-items: flex-end;  justify-content: flex-start; }
    &-bottom-right{ @extend .flex-start;  align-items: flex-end;  justify-content: flex-end; }
    &-bottom-left{ @extend .flex-start;  align-items: flex-start;  justify-content: flex-end; }    
    &-column{ flex-direction: column;}
    &-row{ flex-direction: row;}
  }
  &-center {
    display: flex;
    justify-content: center;
    align-items: center;

    &-row {
      @extend .flex-center;
      flex-direction: row;
    }
    &-column {
      @extend .flex-center;
      flex-direction: column;
    }
  }
  &-space-between {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    &-row {@extend .flex-space-between; flex-direction: row;}
    &-column {@extend .flex-space-between; flex-direction: column;}
  }
}

.fixed {
  position: sticky;
  top: 0;
}

.font {
  &-xs{ font-size: 14px; line-height: 24px; letter-spacing: 0.04em; font-weight: 600;}
  &-sm{ font-size: 18px; line-height: 24px; font-weight: 600;}
  &-md{ font-size: 26px; line-height: 32px; font-weight: 400;}
  &-lg{ font-size: 36px; line-height: 48px; font-weight: 400;}
  &-xl{ font-size: 51px; line-height: 72px; font-weight: 500;}
  &-2xl{ font-size: 72px; line-height: 94px; font-weight: 600;}
  &-link-special{ font-size: 14px; line-height: 24px; letter-spacing: 0.04em; font-weight: 700;}
  &-default { font-size: 16px; line-height: 24px; font-weight: 400;}
  &-micro{ font-size: 10px; line-height: 16px; letter-spacing: 0.04em; font-weight: 600;}
  &-uppercase{ text-transform: uppercase;}
}

.h {
  &-full {height: 100%;}
  &-max { height: 100vh;}
}

.w {
  &-full {width: 100%;}
  &-max { width: 100vw;}
}

.color {
  &-black{color: $surface-dark;}
  &-white{color: $surface-light;}

  &-gray{
    &-100{color: $gray-100;}
    &-200{color: $gray-200;}
    &-300{color: $gray-300;}
    &-400{color: $gray-400;}
    &-500{color: $gray-500;}
    &-600{color: $gray-600;}
    &-700{color: $gray-700;}
    &-800{color: $gray-800;}
    &-900{color: $gray-900;}
  }

  &-green{
    &-100{color: $green-100;}
    &-200{color: $green-200;}
    &-300{color: $green-300;}
    &-400{color: $green-400;}
    &-500{color: $green-500;}
    &-600{color: $green-600;}
    &-700{color: $green-700;}
    &-800{color: $green-800;}
    &-900{color: $green-900;}
  }

  &-red{
    &-100{color: $red-100;}
    &-200{color: $red-200;}
    &-300{color: $red-300;}
    &-400{color: $red-400;}
    &-500{color: $red-500;}
    &-600{color: $red-600;}
    &-700{color: $red-700;}
    &-800{color: $red-800;}
    &-900{color: $red-900;}
  }

  &-purple{
    &-100{color: $purple-100;}
    &-200{color: $purple-200;}
    &-300{color: $purple-300;}
    &-400{color: $purple-400;}
    &-500{color: $purple-500;}
    &-600{color: $purple-600;}
    &-700{color: $purple-700;}
    &-800{color: $purple-800;}
    &-900{color: $purple-900;}
  }
}

.bg {
  &-gray{
    &-100{color: $gray-100;}
    &-200{color: $gray-200;}
    &-300{color: $gray-300;}
    &-400{color: $gray-400;}
    &-500{color: $gray-500;}
    &-600{color: $gray-600;}
    &-700{color: $gray-700;}
    &-800{color: $gray-800;}
    &-900{color: $gray-900;}
  }

  &-green{
    &-100{color: $green-100;}
    &-200{color: $green-200;}
    &-300{color: $green-300;}
    &-400{color: $green-400;}
    &-500{color: $green-500;}
    &-600{color: $green-600;}
    &-700{color: $green-700;}
    &-800{color: $green-800;}
    &-900{color: $green-900;}
  }

  &-red{
    &-100{color: $red-100;}
    &-200{color: $red-200;}
    &-300{color: $red-300;}
    &-400{color: $red-400;}
    &-500{color: $red-500;}
    &-600{color: $red-600;}
    &-700{color: $red-700;}
    &-800{color: $red-800;}
    &-900{color: $red-900;}
  }

  &-purple{
    &-100{color: $purple-100;}
    &-200{color: $purple-200;}
    &-300{color: $purple-300;}
    &-400{color: $purple-400;}
    &-500{color: $purple-500;}
    &-600{color: $purple-600;}
    &-700{color: $purple-700;}
    &-800{color: $purple-800;}
    &-900{color: $purple-900;}
  }
}

.hidden {
  display: none;
}
