
@import 'colors';

.light-theme {
  background-color: #{$surface-light};
  color: #{$surface-dark};
}

.dark-theme {
  background-color: #{$surface-dark};
  color: #{$surface-light};
}

// #root[data-theme='dark'] {
//   --theme-background: #{$surface-dark};
//   --theme-forground: #{$surface-light};
//   --theme-accent: #{$purple-100};
//   --theme-text-gray: #{$gray-800};
//   --theme-text-selection: #{$purple-500};
//   --theme-card-background: 70, 80, 90;
//   --theme-container-background: 57, 66, 78;
//   --theme-rgb-accent: 53, 227, 169;

//   --color-gray-100: #{$gray-900};
//   --color-gray-200: #{$gray-800};
//   --color-gray-300: #{$gray-700};
//   --color-gray-400: #{$gray-600};
//   --color-gray-500: #{$gray-500};
//   --color-gray-600: #{$gray-400};
//   --color-gray-700: #{$gray-300};
//   --color-gray-800: #{$gray-200};
//   --color-gray-900: #{$gray-100};
// }

// #root[data-theme='light'] {
//   --theme-background: #{$surface-light};
//   --theme-forground: #{$surface-dark};
//   --theme-accent: #{$purple-500};
//   --theme-text-gray: #{$gray-400};
//   --theme-text-selection: #{$purple-300};
//   --theme-card-background:240, 240, 240;
//   --theme-container-background: 202, 208, 211;
//   --theme-rgb-accent: 53, 111, 227;

//   --color-gray-100: #{$gray-100};
//   --color-gray-200: #{$gray-200};
//   --color-gray-300: #{$gray-300};
//   --color-gray-400: #{$gray-400};
//   --color-gray-500: #{$gray-500};
//   --color-gray-600: #{$gray-600};
//   --color-gray-700: #{$gray-700};
//   --color-gray-800: #{$gray-800};
//   --color-gray-900: #{$gray-900};
// }